/* add custom styles */

/*#create-cards {
  display: none;
}

.make-or-begin, .premade-or-create{
  display: none;
}*/

.form-group{
  padding-top: 10px;
}

.show-cards{
  border: 1px solid black;
  border-radius: 10px;
  min-height: 80px;
  width: 400px;
}
