{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}


    <!-- Header - functioning as main staging area -->
    <header id="top" class="header">
        <div class="text-vertical-center">

            <form id="create-cardset-title" class="">
                <div class="row form">
                    <div class="text-center">
                        <h2>What Topic Would You Like Study?</h2>
                    </div>

                    <div class="form-group col-md-6 col-md-offset-3">
                        <input type="text" class="form-control clear-all" id="new-title" placeholder="Create a title for your flash card set" name="name" required >
                    </div>
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <button type="submit" class="btn btn-info btn-lg" id="create-cardset-btn">Continue</button>
                    </div>
                </div>
            </form>

        <!-- <div class="text-vertical-center" -->
        <!-- </div> -->

         <form class="form-horizontal" id="create-cards-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" id="create-q-and-a">
                    <h2 class="text-center">Create A Study Card for <em><span class="card-set-name"></span></em></h2>
                    <div class="form-group">
                        <label for="createQuestion" class="col-md-2 control-label">Question</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control clear-all" id="question" name="question" placeholder="Type the question here..." required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="createAnswer" class="col-md-2 control-label">Answer</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control clear-all" id="answer" name="answer" placeholder="Type the answer here..." required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" class="btn btn-info" id="create-card-btn">Create Your Flashcard!</button>
                        </div>
                        <div class="form-group">
                            <div class="row col-md-12">
                                <div class="col-md-offset-3 col-md-6">
                                    <div id="duplicate-question-alert"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- make this nicer         -->
        <div id="results"></div>

        <div class="row form-group" id="card-table">
            <div class="col-md-8 col-md-offset-2">
                <div id="q-a-table-with-review-button">
                    <table class="table">
                        <caption class="new-cardset">Current Cards<!-- <span class="card-set-name"></span> --></caption>
                        <thead class="striped">
                            <tr>
                                <th>Your Study Questions</th>
                                <th>Your Study Answers</th>
                                <th>Delete/Edit</th>
                            </tr>
                        </thead>
                        <tbody class="striped" id="user-cards">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <a href="/play">
                    <button type="button" class="btn btn-info btn-block begin-review" id="new-set-begin">Begin Review</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row col-md-12">
                <div class="col-md-offset-3 col-md-6">
                    <div id="alert-no-cards"></div>
                </div>
            </div>
       </div>


        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table" >
                    <caption class="new-cardset">Cardsets - Temporary!</caption>
                    <tbody class="striped" id="card-tableness">
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- TESTING -->
    <header id="top" class="header">
        <div class="text-vertical-center">

            <!-- card flip area -->
            <div id="review-space" class="">
                <div class="row form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="flip" id="show-cards-main">
                        <div id="show-cards-wrapper">
                            <div class="show-cards show-cards-question"></div>
                            <div class="show-cards show-cards-answer"></div>
                        </div>
                        </div>
                    </div>
                </div>

                <!-- user answer submission -->
                <form id="submit-answer" name="answer-check">
                    <div class="form-group form-horizontal">
                        <label class="col-md-4 control-label"></label>
                      <div class="col-md-4">
                        <input type="text" class="form-control clear-all" id="user-answer" placeholder="Type answer here..." required>
                      </div>
                    </div>
                    <div class="row" id="submit-user-answer">
                        <div class="final-buttons form-group text-center">
                        <button type="submit" id="submit-user-answer-btn" class="btn btn-info btn-lg">Check Your Answer!</button>
                        </div>
                    </div>
                </form>

                <div class="row" id="next-question">
                    <div class="final-buttons form-group text-center">
                        <button type="button" id="next_question-btn" class="btn btn-info btn-lg">Next Question</button>
                    </div>
                </div>
            </div>

        <!-- end-vertical-center-->
        </div>

        <!-- Success view -->
        <div class="row" id="study-more">
            <div class="final-buttons form-group text-center">
                <button type="submit" class="btn btn-lg" id="study-more-btn">Great Job! Want to study again?</button>
            </div>
        </div>

        <!-- END TESTING -->

    </div>

    </header>




{% endblock %}
