{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}



    <!-- Header - functioning as main staging area -->
    <header id="top" class="header">
        <div class="text-vertical-center">

        <!-- Initial screen -->
            <div class="initial">
                <h1>Get your study on!</h1>
                <h3>What would you like to do?</h3>
                <button type="button" class="btn btn-info btn-lg pre-made">Pick a Topic</button>
                <!-- <a href="/create"> -->
                <button type="button" class="btn btn-info btn-lg" id="create-own">Create Your Own</button>
                <!-- </a> -->
            </div>
            <!-- end initial screen -->

            <!-- List of pre-made review topics -->
            <div class="row " id="checkbox-space">
                <div class="col-md-12 text-center">
                    <h1 class="text-center">Choose a study topic</h1>
                </div>
                <div class="form-group">
                    <div class=" form-group-lg" id="cardsets">

                    </div>
                    <div class="alert_placeholder col-md-4 col-md-offset-4"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <button type="submit" class="btn btn-info btn-lg" id="check-box-start">Begin Review</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end list of pre-made review topics -->

            <!-- create new cardset title -->
            <div class="row form" id="create-cardset-title">
                <div class="text-center">
                    <h2>What Topic Would You Like Study?</h2>
                </div>

                <div class="form-group col-md-6 col-md-offset-3">
                    <input type="text" class="form-control clear-all" id="new-title" placeholder="Create a title for your flash card set" name="name" required >
                </div>
                <div class="col-md-6 col-md-offset-3 text-center">
                    <button type="button" class="btn btn-info btn-lg" id="create-cardset-btn">Continue</button>
                </div>
            </div>
            <!-- end create new cardset title -->

            <!-- create cards questions -->
            <!-- <div class="row"> -->
            <div class="centered" id="create-q-and-a">
                <form class="form-inline" id="create-cards-container">
                    <h2 class="text-center">Create a study card for <em><strong><span class="card-set-name"></span></strong></em></h2>
                    <div class="form-group">
                        <input type="text" class="form-control clear-all" id="question" name="question" placeholder="Type the question here..." required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control clear-all" id="answer" name="answer" placeholder="Type the answer here..." required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info" id="create-card-btn">Create Your Flashcard!</button>
                    </div>
                </form>
            </div>
            <!-- end create cards questions -->

            <!-- show created cards table -->
           <!-- <div id="results"></div> -->
            <div class="row form-group" id="card-table">
                <div class="col-md-8 col-md-offset-2">
                    <div id="q-a-table-with-review-button">
                        <table class="table table-hover table-condensed">
                            <!-- <caption class="new-cardset">Current Cards<span class="card-set-name"></span></caption> -->
                            <thead>
                                <tr>
                                    <th>Your Study Questions</th>
                                    <th>Your Study Answers</th>
                                    <!-- <th>Delete</th> -->
                                </tr>
                            </thead>
                            <tbody id="user-cards">
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- begin review button and no cards alert -->
                <div class="form-group" id="begin-review-area">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <button type="button" class="btn btn-lg btn-info begin-review" id="new-set-begin">Begin Review</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row col-md-12">
                        <div class="col-md-offset-3 col-md-6">
                            <div id="alert-no-cards"></div>
                        </div>
                    </div>
               </div>
                <!-- end begin review button and no cards alert -->
            </div>
            <!-- end created cards table -->



<!-- temp - show all card sets -->
        <!-- <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table" >
                    <caption class="new-cardset">Cardsets - Temporary!</caption>
                    <tbody class="striped" id="card-tableness">
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
<!-- end temp - show all card sets -->

            <!-- card flip area -->
            <div id="review-space" class="">
                <div class="row form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="flip" id="show-cards-main">
                        <div id="show-cards-wrapper">
                            <div class="show-cards show-cards-question"></div>
                            <div class="show-cards show-cards-answer"></div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- end card flip area -->

                <!-- user answer submission -->
                <!-- <form id="submit-answer" name="answer-check"> -->
                <div id="submit-answer">
                    <div class="form-group form-horizontal">
                        <label class="col-md-4 control-label"></label>
                      <div class="col-md-4">
                        <input type="text" class="form-control clear-all" id="user-answer" placeholder="Type answer here..." required>
                      </div>
                    </div>
                    <div class="row" id="submit-user-answer">
                        <div class="final-buttons form-group text-center">
                        <button type="button" id="submit-user-answer-btn" class="btn btn-info btn-lg">Check Your Answer!</button>
                        </div>
                    </div>
                </div>
                <!-- </form> -->

                <div class="row" id="next-question">
                    <div class="final-buttons form-group text-center">
                        <button type="button" id="next_question-btn" class="btn btn-info btn-lg">Next Question</button>
                    </div>
                </div>
            </div>
            <!-- end user answer submission -->

            <!-- Success view -->
            <div class="row" id="study-more">
                <div class="final-buttons form-group text-center">
                    <a href="/"><button type="button" class="btn btn-lg" id="study-more-btn">Great Job! Want to study again?</button></a>
                </div>
            </div>
            <!-- end success view -->

        </div>
    </header>

{% endblock %}
